<p>TOPICS</p>
<p>this is where topics go...</p>
{{#each getTopics as |topic|}}
<div>
    <div>{{topic.TopicLine}}</div>
    <div>{{topic.UserID}}</div>
    <button>View</button> <button>Flag</button>
</div>
{{/each}}
