<p>TOPICS</p>
<p>this is where topics go...</p>

{{#each model as |topic|}}
<div>
    <div>{{topic.topicline}}</div>
    <div>posted by {{topic.userid}}</div>
    <button>{{#link-to "users.thread" topic.topicid}}View{{/link-to}}</button> <button>Flag</button>
</div>
{{/each}}