        <div>
        {{#link-to "users.topics"}}
            Topics
        {{/link-to}}
        </div>

        <div>
        {{#link-to "users.profile"}}
            Profile
        {{/link-to}}
        </div>

        <div>
            Logout
        </div>



<p>Header</p>

{{outlet}}

<p>Footer</p>